body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
.flexible {
    display: flex;
}
.stay-focused {
    padding-left: 5%;
    padding-right: 5%;
}
.stay-focused-head {
    font-family: 'Righteous', cursive;
    border-left: 7px solid;
    border-color: purple;
    padding-left: 2%;
}
.royalblue-color {
    color: royalblue;
}
.half-width {
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    color: white;
    background-color: purple;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 5px;
}
.center {
    text-align: center;
}
.navy-color {
    color: navy;
}
.coral-color {
    color: coral;
}
.one-third-width {
    width: 33%;
    padding: 5px;
}
.mission-box {
    background-color: lightskyblue;
    border-radius: 20px;
    padding: 2%;
    margin-left: 5%;
}
.mission-box img {
    width: 50%;
}
.vision-box {
    background-color: lightpink;
    border-radius: 20px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.vision-box img {
    width: 50%;
}
.goals-box {
    background-color: lightslategray;
    border-radius: 20px;
    padding: 2%;
    margin-right: 5%;
}
.goals-box img {
    width: 50%;
}
.develop {
    padding: 5%;
    background-size: 250px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.less-width {
    width: 40%;
    padding: 2%;
}
.less-width img {
    width: 100%;
    border-radius: 20px;
}
.more-width {
    width: 60%;
    padding: 2%;
}
.community {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-size: 250px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
footer {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;
}
footer h1 {
    font-family: 'Lobster', cursive;
}